@import 'layout.scss';

.container {
  margin: 0 auto;
  padding: 0 1.5rem 1.45rem;
  max-width: 900px;

  .line {
    margin: 4rem 0 3rem;
  }

  .testimonials {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "client1 blurb1"
      "blurb2 client2"
      "client3 blurb3"
    ;

    .client1 {
      grid-area: client1;
    }
    .blurb2 {
      grid-area: blurb1;
    }
    .client2 {
      grid-area: client2;
    }
    .blurb2 {
      grid-area: blurb2;
    }
    .client3 {
      grid-area: client3;
    }
    .blurb3 {
      grid-area: blurb3;
    }

    .client-logo {
      max-width: 125px;
    }

    p.client-testimonial {
      margin-bottom: 0;
      font-size: 0.8rem;
      font-weight: 300;
      font-style: italic;
      padding: 1rem;
      line-height: 1.6rem;
    }

    p.client-contact {
      font-size: 0.8rem;
      font-weight: 500;
      padding: 0 1rem 1rem;
      line-height: 2rem;
      letter-spacing: 1px;
    }
  }

  .testimonials div:hover .client-logo {
    color: $black;
  }

  .logo-grid {
    margin: 0 auto;
    // padding: 0 1.5rem 1.45rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    
    .logo-grid-item {
      max-width: 100px;

      .logo-limit {
        max-width: 75px;
      }
    }
  }

}

@media screen and (max-width: 600px) {

  .container {

    .line {
      margin: 2rem 0 2rem;
    }

    .testimonials {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      grid-template-areas:
        "client1"
        "blurb1"
        "client2" 
        "blurb2"
        "client3"
        "blurb3"
      ;

      img.client-logo {
        margin-bottom: 0;
        max-width: 100px
      }

    }

    .logo-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

}