@import 'layout.scss';
/* Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

header {
  .container {
    margin: 1.5rem auto;
    padding: 0 1.5rem;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }

    h1.brand {
      margin: 0;
      font-size: 1.8rem;
      font-weight: 300;
      letter-spacing: 6px;
    }

    .nav-toggle {
      display: none; // Hide checkbox by default
    }

    .nav-toggle:checked ~ nav { // '~' looks for any preceding sibling
      display: block; // Displays nav when nav-toggle-label checked
    }

    label.nav-toggle-label {
      // display: none; // Hide hamburger
    }

    label.nav-toggle-label span,
    label.nav-toggle-label span::before,
    label.nav-toggle-label span::after {
      display: block;
      background: $black;
      height: 2px;
      width: 2rem;
      position: relative;
    }

    label.nav-toggle-label span::before,
    label.nav-toggle-label span::after {
      content: '';
      position: absolute;
    }

    label.nav-toggle-label span::before {
      bottom: 7px;
    }

    label.nav-toggle-label span::after {
      top: 7px;
    }

    nav.navbar {
      display: none;
      // display: flex;
      // justify-content: flex-end;
      // align-items: center;

      ul.nav-list {
        margin: 1rem 0;
        padding: 0;
        list-style: none;

        li.nav-item {
          margin-bottom: 1rem;
          margin-right: 1rem;
        }

        a.nav-item {
          margin-left: 2rem;
          color: $grey;
          letter-spacing: 2px;
        }

        a.nav-item:hover {
          color: $cta;
        }
        a.active {
          color: $black;
        }
      }


    } 
    
  }
}

@media screen and (max-width: 600px) {

  .container {
    
  }
  
}